<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.mihai.airdrop</string>
    <key>CFBundleName</key>
    <string>Airdrop</string>
    <key>CFBundleDisplayName</key>
    <string>Airdrop</string>
    <key>CFBundleExecutable</key>
    <string>airdrop</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>0.2.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSBackgroundOnly</key>
    <false/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSLocalNetworkUsageDescription</key>
    <string>Required to discover and AirDrop files to nearby Apple devices.</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Required to discover nearby devices for AirDrop.</string>
    <key>NSBonjourServices</key>
    <array>
        <string>_airdrop._tcp</string>
    </array>
</dict>
</plist>
